#pad {
    border: 1px dotted orange;
    width: 400px;
}

body{
    background-color: dimgrey;
}

div{
    color: white;
    font-family: courier;
}

span{
    color: white;
}

.hlight_red {
    color: red;
    font-size: 40px;
}

.hlight_blue {
    color: blue;
    font-size: 40px;
}